.site {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  height: 100vh;
}

.site__sidebar {
  grid-column: span 1;
  // border-radius: 0 0 6px 6px;

  background: hsla(270, 82%, 40%, 1);
  box-shadow: 5px 0 20px hsla(0, 100%, 0, 0.2);
}

.sidebar {
  padding: 20px 15px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    color: hsl(300, 100%, 97%);
    font-size: 14px;
    margin-bottom: 10px;
  
    &--active {
      font: 18px 'OpenSans-Bold';
    }
  }
}

.site__wizard {
  grid-column: span 4;
}